/*重写css样式*/
body{
	font:12px simhei,arial;
	color: #666;
	margin: 0;
	padding: 0;
    background:#f4f4f4 ;;
}
p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	color: #666;
	text-decoration: none;
}
/*img{
	vertical-align: middle;
}*/
/*内容生成解决浮动对父元素造成的影响*/
/*.clear:after{
	content: "";
	display: block;
	clear: both;
}*/
.if{
	float: left;
}
.rt{
	float: right;
}
.main{
	width: 1240px;
	margin: 0 auto;
}
#header{
	width: 100%;
	height: 106px;
	
}
#footer{
	width: 100%;
	height: 394px;
	
}
.text{
	font-size: 38px;
	font-weight: 400;
    color: #515151;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
}
