#header{
	background: white;
	border-bottom:1px  solid rgba(0,0,0,0.2);
	height: 85px;
}
#title{
	height: 70px;
	display: flex;
	justify-content:space-between;
}
#title .title-left h1{
	line-height: 70px;
	font-size: 26px;
	font-family: "微软雅黑";
	color: #000000;
	font-weight: normal;
}
#title .title-right a{
	display: inline-block;
	font-size: 16px;
	font-family: "微软雅黑";
	color: #000000;
	line-height: 70px;
	margin:0 10px;
} 
#title .title-right a:hover{
	color: #00C3F5;
}
/*<!---------------------------------------手机详情介绍-------------------------->*/
.phone{
	background: white;
	height: 1000px;
}
#phone{
	display: flex;
	justify-content: space-between;
}
.phone-img a img{
	width: 560px;
	height: 560px;
}
.phone-img .phone-Smallimg{
	display: flex;
	justify-content: space-between;
	justify-content:space-around;
	text-align: left;
}
.phone-img .phone-Smallimg a img{
	width: 80px;
	height: 80px;
	margin: 10px 0px;
}
.phone-information{
	width: 640px;
	margin-top: 60px;
}
.phone-information h1{
	font-size: 28px;
	color: #262626;
	font-weight:700;
	margin-bottom: 10px;
}
.phone-information h3{
	font-size:14px ;
	color: #e22841;
	font-weight: normal;
	line-height: 18px;
}
.Preferential{
	background: url(../img/详情页/party_bg-108e2ed865.png);
	height: 42px;
	display: flex;
	justify-content: space-between;
	padding:0px 10px;
	box-sizing:border-box;
	margin-top:10px ;
}
.Preferential div{
	color: white;
	font-size: 16px;
	line-height: 42px;
	font-family: "微软雅黑";
}

/*价格*/
.Price{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #595959;
	background: #f4f6fa;
	box-sizing:border-box;
	padding: 16px 10px 12px;
}
.Price p{
    font-size:36px ;
    color: #e02b41;	
    margin-bottom: 5px;
}
.Price p s{
	color: #999;
	font-size: 14px;
}
.Price span{
	display: inline-block;
	box-sizing:border-box;
	background: #F2EAEF;
	color:#e02b41 ;
	width: 72px;
	text-align: center;
	font-size: 14px;
	padding: 2px 0;
	margin:0 10px ;
}
.Price a{
	color: #27b3ff;
	margin-left: 10px;
}
/*支持*/
.Support span{
	color:#8c8c8c;
	font-family: "微软雅黑";
	line-height: 40px;
	margin: 0 4px;
	font-size: 12px;
}
.Support span:nth-child(1){
	margin: 0px;
	letter-spacing:20px;
	margin-left: 10px;
	color:  CADETBLUE;
}
.Support .icon-duihao{
	font-size: 18px;
	margin: 0;
}
/*配送方式*/
.Delivery{
	line-height: 20px;
}
.Delivery span{
	font-family: "微软雅黑";
	margin: 0 4px;
	color: black;
}
.Delivery span:nth-child(1){
	margin: 0px;
	/*letter-spacing:20px;*/
	margin-left: 10px;
	color:  CADETBLUE;
}
.Delivery span:nth-child(2) a{
	color: black;
	font-size: 14px;
	margin-left: 15px;
}
.Delivery p{
	margin-left: 82px;
	font-family: "微软雅黑";
}
.Delivery p a{
	margin-left: 15px;
	color: #00C3F5;
}
.phone-information-top{
	border-bottom: 1px dashed #8c8c8c;
	margin-bottom: 40px;
	padding-bottom:20px ;
}
/*型号*/
.Model{
	font-family: "微软雅黑";
	margin-bottom: 10px;
}
.Model span{
	margin: 0px;
	letter-spacing:20px;
	margin-left: 10px;
	color:CADETBLUE ;
}
.Model .Model-a{
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
	margin-left: 80px;
	margin-top: -30px;
}
.Model .Model-a a{
	display: inline-block;
	box-sizing:border-box;
	color: #595959;
	width: 176px;
	height: 40px;
	/*border: 1px solid black;*/ 
	border: 1px solid #bfbfbf; 
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	margin-bottom: 10px;
	border-radius:2px;
} 
.Model .Model-a a:nth-child(1){
	border: 1px solid #000000;
	color: #000000;
}
/*网络类型*/
.Network{
	font-family: "微软雅黑";
	color: CADETBLUE;
	height: 52px;
	/*background: red;*/
	line-height: 52px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.Network a{
	display: inline-block;
	width: 176px;
	border: 1px solid black;
	color: black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-left: 19px;
	border-radius:2px;
}
/*手机颜色*/
.colour{
	font-family: "微软雅黑";
	color: CADETBLUE;
	height: 52px;
	/*background: red;*/
	line-height: 52px;
	margin-left: 10px;
	/*border: 1px solid black;*/
	margin-bottom: 10px;
}
.colour img{
	width: 32px;
	height: 32px;
	vertical-align:middle;
}
.colour a{
	display: inline-block;
	width: 176px;
	border: 1px solid  #bfbfbf;
	color:#595959;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-left: 9px;
	border-radius:2px;
}
.colour a:nth-child(2){
	display: inline-block;
	margin-left:19px;
	border: 1px solid  black;
	color: black;
}
/*选择套餐*/
#meal a span{
	color: red;
	margin-left: 10px;
}
/*分期付款*/
#term a{
	box-sizing:border-box;
	height: 55px;
	line-height: 20px;
	padding-top:5px ;
}
#term  a:nth-child(2){
	border: 1px solid  #bfbfbf;
	color: #595959;
}
/*选择数量*/
#Number{
	height: 55px;
	/*background: burlywood;*/
	margin-top: 20px;
}
#Number a{
	box-sizing:border-box;
	display: inline-block;
	width: 32px;
	height: 40px;
	font-size: #e0e0e0;
	background:#f7f7f7 ;
	border: 1px solid #e7e7e7;
	text-align: center;
	line-height:40px ;
	position: relative;
	left: 4px;
}
#Number a:nth-child(4){
	position: relative;
	left: -8px;
}
#Number input{
	box-sizing:border-box;
	width: 62px;
	height: 40px;
	font-size: #e0e0e0;
	background:white ;
	border: 1px solid #e7e7e7;
	text-align: center;
	line-height:40px ;
	position: relative;
	top: -2px;
}
/*购买+加入购物车按钮*/
.Button a{
	display: inline-block;
	width:208px ;
	height: ;
	border: 1px solid #23A0E5;
	line-height: 24px;
	font-size: 20px;
	padding: 15px 0;
	text-align: center;
	border-radius:3px;
	margin-left: 10px;
}
.Button a:nth-child(1){
	background:#23A0E5 ;
	color: white;
}
.Button a:nth-child(2){
	color: #23A0E5;
	margin-left: 20px;
}
.Button a:hover{
	
}
/*--------------------------------------------------------商品详情-----------------------------------------------*/
#details{
	margin-bottom: 80px;
}
#details h1{
	color: #000;
	font-size: 24px;
	margin-top:45px;
	margin-bottom: 20px;
	font-family: "微软雅黑";
	font-weight: normal;
}
