.footer{
	background: white;
	height: 250px;
}
/*服务*/
.footer-one{
	display: flex;
	justify-content:space-between;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
/*服务左边*/
.footer-one .footer-one-service-left li{
	display: inline-block;
	float: left;
	text-align: center;
	margin:0px 35px ;
	margin-top: 50px;
	opacity: 0.8;
}
.footer-one .footer-one-service-left li img{
	width: 50px;
	height: 39px;
}
.footer-one .footer-one-service-left li p{
    font:12px "微软雅黑";
    line-height: 30px;
}
/*服务右边*/
.footer-one .footer-one-service-right{
	margin:0px 35px ;
	margin-top: 30px;
	margin-bottom: 20px;
}
.footer-one .footer-one-service-right span{
	color: #999;
	font-size: 12px;
	line-height: 30px;
}
.footer-one .footer-one-service-right p{
	color: #00c3f5;
	font-size: 25px;
	font-weight: 400;
	line-height: 40px;
}
.footer-one .footer-one-service-right a{
	display: inline-block;
	width:88px ;
	height: 30px;
	font-size: 14px;
	color: white;
	background: #0bbbef;
	line-height: 30px;
	text-align: center;
	border-radius:20px;
}
/*第二行*/
.footter-two ul li{
	display: inline-block;
	float: left;
	margin:20px 5px;
}
.footter-two ul li img{
	vertical-align:middle;
	width: 18px;
	height: 18px;
}
.footter-two ul li a{
	font-size: 12px;
	color: #999999;
	font-family: "微软雅黑";
}
.footter-two ul li a:hover{
	color: #0bbbef ;
}
/*各国文字触碰效果*/
#footter-two-li{
	position: relative;
}
#footter-two-li-p{
	position: absolute;
	top:-320px ;
	left: -19px;
	box-sizing:border-box;
	background: white;
	width: 110px;
	padding: 15px;
	opacity: 0;
}
#footter-two-li-p p a img{
	width: 25px;
	height: 25px;
	margin-right: 5px;
}
#footter-two-li-p p{
	line-height: 40px;
}
#footter-two-li:hover #footter-two-li-p{ 
    opacity: 1; /*通过透明度进行触碰事件*/
}
.footer-three{
	text-align: center;
}
/*第三行*/
.footer-three{
	display: flex;
	justify-content:space-between;
	line-height: auto;
}
.footer-three-ul li{
	display: inline-block;
	float: left;
	margin-right:10px ;
	/*padding-right:20px ;*/
}
.footer-three-ul li a{
	font-size: 26px;
	vertical-align:middle;
	color: #999999;
}
.icon-xiaochengxu:hover{
	color: rgb(7,193,96);
}
.icon-weixin:hover{
	color: rgb(110,199,73);
}
.icon-QQkongjian:hover{
	color: rgb(236,195,55);
}
.icon-weibo:hover{
	color: rgb(255,107,107);
}
