.Navigation{
	/*background: white;*/
}
.header{
	display: flex;
	justify-content:space-between;
	height: 81px;
	/*width: 100%;*/
}
.header-logo a{
	font-size:30px;
	color: #009BF2;
	line-height: 81px;
	position: relative;
	z-index:2;
}
.header-ul li{
	display: inline-block;
	float: left;
	margin-left: 20px;
	line-height: 81px;
}
.header-ul li a{
	font-size:14px;
	font-family: "微软雅黑";
}
.header-ul li a:hover{
	color: #00C3F5;
}
/*表单*/
.header-ul li input{
	width: 170px;
	height: 30px;
	border-radius:20px;
	border: 1px solid rgba(0,0,0,0.1);
	text-indent:15px;
	margin-top: -10px;
}
.header-ul li img{
	vertical-align:middle;
}


/*触碰效果*/
.header-ul>li{
	float: left;
	height: 40px;
	/*padding: 0 10px;*/
	position: relative;
	/*border: 1px solid black;*/
	/*opacity:1;*/
	z-index:1;
}
ul.header-ul>li:hover ul.list_02{
	display: flex;
	float: left;
}
ul.list_02{
	position: absolute;
	left: -400px;
	top: 46px;
	display: none;
	color: black;
	background: white;
	z-index:0;
}
.list_02 li{
	float: none;
	padding: 0 10px;
	/*height: 40px;*/
}
.list_02 li a{
	display:inline-block;
	padding: 20px 0px;
	line-height: 20px;
	padding-top:50px ;
}
.list_02 li a img{
	width: 100px;
	height: 100px;
}
.list_02 li a h1{
	font-size: 10px;
	font-family: "微软雅黑";
	font-weight: normal;
	text-align: center;
}
.list_02 li a h3{
	font-size: 8px;
	font-family: "微软雅黑";
	font-weight: normal;
	text-align: center;
}

/*APP下在图片*/
#APP-img img{
	width: 1200px;
	height: 300px;
	padding: 0;
	margin: 0 auto;
	margin-left: -500px;
}


#list_03{
	position: absolute;
	left: -500px;
}
#list_04{
	position: absolute;
	left: -500px;
}
#list_05{
	position: absolute;
	left: -500px;
}