body{
	font-family: "微软雅黑";
}

/*轮播图*/
.Rotation{
	width: 100%;
	height: 580px;
	/*border: 1px solid red;*/
	overflow: hidden;
}
.Rotation ul{
	width:500% ;
	height: 580px;
	/*border: 1px solid blue;*/
	margin: 0;
	padding: 0;
	list-style: none;
	animation: scroll 30s linear infinite alternate;
}
.Rotation ul li{
	/*border:1px solid black ;*/
	float: left;
	width: 20%;
}
.Rotation ul li img{
	width: 100%;
	height: 580px;
}
/*声明动画*/
@keyframes scroll{
	0%,15%{margin-left: 0%;}
	20%,35%{margin-left: -100%;}
	40%,55%{margin-left: -200%;}
	60%,75%{margin-left: -300%;}
	80%,100%{margin-left: -400%;}
}

/*服务导航列表*/
#Navigation{
	background: white;
	padding: 60px 0px;
	margin-bottom: 20px;
	box-shadow:1px 1px 10px 1px rgba(0,0,0,0.1) ;
}
.Navigation-one{
	text-align: center;
	display: flex;
	justify-content:space-around;
}
.Navigation-one li a span{
	color: black;
	font-size:45px ;
}
.Navigation-one li a p{
	color: black;
	font-size: 13px;
}
/*第二行*/
.Navigation-two{
	text-align: center;
	display: flex;
	justify-content:space-around;
}
.Navigation-two a{
	display: inline-block;
	width: 301px;
	height: 173px;
	box-sizing: border-box;
	padding: 20px 0px;
	margin-top: 60px;
}
.Navigation-two a p{
	color: white;
	font-size: 14px;
	margin-top: 5px;
	
}
.Navigation-two a p:nth-child(2){
	font-size: 16px;
}
.Navigation-two a:nth-child(1){
	background: #388ded;
}
.Navigation-two a:nth-child(2){
	background: #48bf6c;
}
.Navigation-two a:nth-child(3){
	background: #f6af2a;
}
.Navigation-two a:nth-child(4){
	background: #3ec0d1;
}


/*商品选择*/
#commodity-p{
	color: black;
	font-size: 25px;
	margin: 60px 0px;
	text-align: center;
}
.commodity{
	display: flex;
	justify-content:space-between;
	flex-wrap:wrap;
	margin-bottom: 80px;
}
#commodity-three{
	display: inline-block;
	width:406px;
	height: 298px;
	background: white;
	text-align: center;
	box-sizing: border-box;
	padding: 40px 0px;
	box-shadow:2px 2px 10px 1px rgba(0,0,0,0.1) ;
}
#commodity-three p{
	font-size:14px;
	color: black;
	margin: 20px 0px;
}
#commodity-Four{
	display: inline-block;
	background: url(../img/服务/077d0a4a-6727-4626-9209-943185c6755c.jpg) no-repeat;
	width: 615px;
	height: 158px;
	color: white;
	display: flex;
	font-size: 16px;
	margin:10px 0px ;
}
#commodity-Four>div{
	/*line-height: 158px;*/
	margin: 66px 90px;
}
#commodity-Four div:nth-child(1){
	font-size:50px ;
	position: relative;
	top: -10px;
	left: 83px;
	margin-right: 10px;
}
#commodity-Five{
	display: inline-block;
	background: url(../img/服务/b8d0e50c-04e2-47a3-8a3a-2129586c7e97.jpg) no-repeat;
	width: 615px;
	height: 158px;
	color: white;
	display: flex;
	font-size: 16px;
	margin:10px 0px ;
}
#commodity-Five>div{
	/*line-height: 158px;*/
	margin: 66px 90px;
}
#commodity-Five div:nth-child(1){
	font-size:50px ;
	position: relative;
	top: -10px;
	left: 83px;
	margin-right: 10px;
}
/*手机图片,触碰向上*/
#commodity-three img{
	margin-top:0px ;
	transition:margin-top 0.5s;
}
#commodity-three img:hover{
	margin-top: -10px;
}
/*专属权益*/
.Equity{
	background: white;
	/*height: 696px;*/
	margin-bottom: 20px;
	font-family: "微软雅黑";
	padding: 60px 0px;
}
.Equity>p{
	color: black;
	font-size: 25px;
	text-align: center;
}
#Equity{
	display: flex;
	justify-content:space-between;
	flex-wrap:wrap;
	margin-top: 90px;
}
#Equity-one{
	display: flex;
	justify-content:space-around;
	width: 603px;
	height: 245px;
	/*background: red;*/
}
#Equity-one div img{
	margin-top:22px;
}
.Equity-one-text{
	width: 387px;
}
.Equity-one-text p{
	font-size: 16px;
	margin: 15px 0px;
	color: #333;
}
.Equity-one-text a{
	color: #00bbf2;
	font-size: 14px;
}

/*了解常见问题*/
.problem p{
	color: black;
	font-size: 25px;
	margin: 60px 0px;
	text-align: center;
}
#problem{
	text-align: center;
	display: flex;
	justify-content:space-around;
	font-size: 14px;
	color: black;
	font-family: "微软雅黑";
	margin-bottom: 60px;
}
#problem ul li{
	line-height: 25px;
}
#problem ul li a{
	color: black;
}
#problem ul li a:hover{
	color: #00bbf2;
}

/*问题咨询*/
.contact{
	background: white;
	box-sizing: border-box;
	/*padding: 10px 0px;*/
	padding: 40px 0px;
	/*margin-bottom: 10px;*/
	font-family: "微软雅黑";
	padding-bottom:100px;
}
.contact>p{
	color: black;
	font-size: 25px;
	margin-bottom: 60px;
	text-align: center;
}
.contact-one{
	display: flex;
	justify-content:space-around;
	text-align: center;
}
.contact-one p{
	font-size: 35px;
	color: #333;
}
.contact-one a{
	font-size: 16px;
	display: inline-block;
	margin: 10px 0px;
}
.contact-one h3{
	font-size: 14px;
	color: #999999;
	font-weight: normal;
}
.contact-one:hover{
	cursor:pointer;
}
.contact-one01:hover a{
	color: #00bbf2;
}
.contact-one02:hover a{
	color: #00bbf2;
}
.contact-one03:hover a{
	color: #00bbf2;
}
.contact-one04:hover a{
	color: #00bbf2;
}

/*第二行*/
.contact-two{
	position: relative;
	top: 80px;
}
.contact-two>div{
	float: left;
}
.contact-two>div img{
	width: 619px;
	height: 378px;
}
.contact-two-left{
	box-sizing: border-box;
	width: 621px;
	height: 378px;
	background: #5a66aa;
	color: white;
	padding: 70px 50px;
}
.contact-two-left h2{
	font-size: 24px;
	font-weight: normal;
	margin-bottom:20px ;
}
.contact-two-left p{
	font-size: 14px;
	margin-bottom:10px ;
}
.contact-two-left a{
	color: #00bbf2;
	font-size: 14px;
}
.Icon{
	display: flex;
	justify-content:space-between;
	text-align: center;
	margin-top: 60px;
}
.Icon span{
	display: inline-block;
	font-size: 20px;
	margin-bottom: 10px;
	opacity: 0.8;
}
.contact-two-right{
	box-sizing: border-box;
	width: 619px;
	height: 378px;
	background: #f4f4f4;
	color: white;
	padding: 70px 50px;
	margin-top: -3px;
}
.contact-two-right h2{
	font-size: 24px;
	font-weight: normal;
	margin-bottom:20px ;
}
.contact-two-right p{
	font-size: 14px;
	margin-bottom:10px ;
}
.contact-two-right a{
	color: #00bbf2;
	font-size: 14px;
}
.contact-two-right{
	color: black;
}
#Icon{
	color: rgba(0,0,0,0.8);
}


/*底部*/
#footer{
	border-top: 1px solid rgba(0,0,0,0.1);
}



