.header p{
	font-size: 40px;
	margin:0px 110px;
	margin-bottom: 10px;
	color:#009bf2;
	font-family: "微软雅黑";
	font-weight: 500;
}
/*----------------------------------------主体--------------------------------------*/
.main{
	display: inline-block;
	width: 100%;
	height: 755px;
	background: url(../img/登录页面/banner.png) no-repeat;
	background-size:100%;
}
.grid-input01 input{
	width: 20px;
}
