body{
	background-image: url(../img/bg.png);
	background-size:100% ;
}
.login{
	width: 600px;
	/*border: 2px solid red;*/
	/*height: 600px;*/
	margin: 0 auto;
	margin-top:40px ;
}
/*logo*/
.logo img{
	width: 800px;
	display: inline-block;
}

/*登录框*/
.inp{
	width: 400px;
	height: 376px;
	background-color: white;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 3px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
}
.top{
	box-sizing: border-box;
	padding: 20px;
	/*margin-bottom: 147px;*/
}
.top h3 a:nth-child(1){
	display: inline-block;
	padding-bottom:10px ;
	border-bottom: 3px solid #0084E1;
	color: black;
	font-size: 16px;
}
.top h3 a:nth-child(2){
	font-weight: normal;
	color: rgb(133, 144, 166);
	font-size: 16px;
	margin-left: 20px;
}
.top input{
	border: none;
	border-bottom: 1px solid #EBEBEB;
	width: 100%;
	color: black;
	font-size: 15px;
	box-sizing: border-box;
	padding: 10px;
	margin-top:20px ;
	outline: none;
}
.top .forget{
	margin-top: 15px;
}
.top .forget>a:nth-child(1){
	color: #175199;
	font-size: 15px;
}
.top .forget>a:nth-child(2){
	color: #8590a6;
	font-size: 14px;
	float: right;
}
.top .forget>a:nth-child(2):hover{
	color: #808080;
}
.top>p .btn{
	display: inline-block;
	width: 100%;
	height: 36px;
	border-radius: 3px;
	background-color:#0084FF ;
	color: white;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	line-height: 36px;
	margin: 23px 0 10px 0;
} 
.bottom{
	box-sizing: border-box;
	padding: 20px;
	background-color: #f6f6f6;
	color: grey;
	font-size: 14px;
	border-radius:3px ;
}
.bottom div{
	float: left;
}
.bottom div:nth-child(2) a{
	display: inline-block;
	margin-top: 10px;
	margin-left: 24px;
	color: #175199;
}



/*社交账号登录*/
.login .contact{
	width: 400px;
	background-color: white;
	box-sizing: border-box;
	border-radius:3px ;
	padding: 20px;
	margin: 10px auto;
}
.login .contact>ul{
	float: left;
}
.login .contact>ul:nth-child(2){
	float: right;
}
.login .contact>ul li{
	float: left;
	margin-left: 10px;
}
.login .contact>ul li a{
	color: #8590a6;
}
